
<mat-toolbar class="toolbar" title="Health Food Store">
  <a class="brand" href="/">
    <span>{{ title }}</span>
  </a>
  <a href="/"><span class="fa fa-home fa-lg"></span> Home</a>
</mat-toolbar>


<div class="welcome">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img height="70" width="auto" alt="Logo" src="../assets/images/logo.svg">
</div>

<app-menu></app-menu>


<div class="welcome">
  <h2>Healthy food: </h2>
  <ul style="list-style: none">
    <li>
      <img alt="Grape" src="../assets/images/grape.png">
    </li>
    <li>
      <img alt="Apple" src="../assets/images/apple.png">
    </li>
    <li>
      <img alt="Avocado" src="../assets/images/avocado.png">
    </li>
    <li>
      <img alt="Cabbage" src="../assets/images/cabbage.png">
    </li>
    <li>
      <img alt="Coconut" src="../assets/images/coconut.png">
    </li>
    <li>
      <img alt="Kiwi" src="../assets/images/kiwi.png">
    </li>
    <li>
      <img alt="Lemon" src="../assets/images/lemon.png">
    </li>
    <li>
      <img alt="Lettucr" src="../assets/images/lettuce.png">
    </li>
    <li>
      <img alt="Lime" src="../assets/images/lime.png">
    </li>
    <li>
      <img alt="Melon" src="../assets/images/melon.png">
    </li>
    <li>
      <img alt="Onion" src="../assets/images/onion.png">
    </li>
    <li>
      <img alt="Orange" src="../assets/images/orange.png">
    </li>
    <li>
      <img alt="Pineapple" src="../assets/images/pineapple.png">
    </li>
    <li>
      <img alt="Potato" src="../assets/images/potato.png">
    </li>
    <li>
      <img alt="Tomato" src="../assets/images/tomato.png">
    </li>
    <li>
      <img alt="Raspberry" src="../assets/images/raspberry.png">
    </li>
    <li>
      <img alt="Strawberry" src="../assets/images/strawberry.png">
    </li>

  </ul>
</div>

<router-outlet></router-outlet>

