@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';

h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 200%;
}

a {
  text-decoration: none;
}



.container {
  margin: 20px;
  display: flex;
  //background-color: #f5f5f5;
  background-color: #f1f1f1;
  border-radius: 40px;
  overflow: hidden;
  border: 1px solid darkgrey;
}
