
<div class="container jumbotron"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start center"
     fxLayoutAlign.sm="start center"
     fxLayoutAlign.gt-sm="center center"
     fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1 class="welcome" title="Health Food Store">Welcome to HFS! <i class="material-icons md-48">face</i></h1>
    <p>
      The term health food has been used since the 1920s to refer to specific foods claimed to be especially beneficial
      to health, although the term has no official definition. Some terms that are associated with health food are
      macrobiotics, natural foods, organic foods and whole foods. Macrobiotics is a diet focusing primarily on whole
      cereals. Whole cereals, along with other whole foods, are foods that are minimally processed. Whole cereals have
      their fiber, germ and hull intact and are considered more nutritious. Natural foods are simply foods that contain
      no artificial ingredients. Organic foods are foods that are grown without the use of conventional and artificial
      pesticides and must meet certain organic standards.
    </p>
  </div>

  <span class="fill-space"></span>

  <div fxFlex fxFlex.gt-sm="40%">
    <img height="auto" width="100%" alt="Logo" src="/assets/images/logo.svg">
  </div>

  <div fxFlex></div>

</div>



<p>
  home works!
</p>
