$white: floralwhite;
$lt-gray: #ddd;
$lts-gray: lightslategrey;
$green: #7faa61;
$lt-green: #b6f58c;
$yellow-green: #cee87c;
$light-yellow-green: rgba(154, 205, 50, 0.1);
$dark-green: #446b0d;

@mixin zero-margin($pad-up-down, $pad-left-right) {
  //margin: 0px auto;
  margin: 20px;
  padding: $pad-up-down $pad-left-right;
}

.jumbotron {
  @include zero-margin(70px, 30px);
  background: $light-yellow-green;
  color: $dark-green;
  min-height: 150px;
  text-align: justify;
}
